li {  list-style: none; }

#loginList {
  display: inline-flex;
  justify-content: flex-end;
  width: 95%;
  padding-top: 20px;
}

#spacer{ padding: 0 10px; }

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 20px;
}

#logo {
  width: 15%;
  margin-left: 65px;
  min-width: 200px;
}

.loginItem { text-decoration: underline; }

.jumbotron {
  /*background: url('../assets/banner.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.container {
  color: #4a4a4a;
}



#mainContainer {
  border-bottom: 3px solid #4a4a4a;
  height: 570px;
}

#categoryNavigation {
  float: left;
  padding: 0 20px;
  border-right: 3px solid #4a4a4a;
  height: 600px;
  position: relative;
  top: -30px;
}

#categoryList { padding-left: 15px; }

#categoryHeadline {
  margin-top: 55px;
}

.contentContainer {
  width: 80%;
  float: right;
  margin-right: 25px;
}

.bodyCopyContainer {
  padding-top: 20px;
}

.imageGallery {
  padding-top: 20px;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.productImage {
  max-width: 200px;
  min-width: 200px;
}

#secondBodyContainer { margin-top: 40px; }

.bodyCopyContainerTwo {
  float: left;
  width: 47%;
  height: 150px;
}

.bodyCopyContainerThree {
  float: right;
  width: 47%;
  height: 150px;
}

.subCopy { padding-right: 10px; }

#footer { clear: both; }

#footerList {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

#trademark { text-align: center; }
